#env
.env

#js file
**/*.js
**/*.js.map

# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/tests
/coverage
/.nyc_output

#Package
package-lock.json