#env
.env

#js file
/**/*.js

# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/tests
/coverage
/.nyc_output

# dist
/dist

#Package
package-lock.json